{
    "timeout": 2,
    "source": {
        "directories": [
            "src"
        ]
    },
    "logs": {
        "text": "build/infection.log",
        "stryker": {
            "badge": "master"
        }
    },
    "mutators": {
        "@default": true
    }
}
