parameters:
	ignoreErrors:
		-
			message: "#^Constructor in Bavix\\\\Wallet\\\\External\\\\Dto\\\\Option has parameter \\$confirmed with default value\\.$#"
			count: 1
			path: src/External/Dto/Option.php

		-
			message: "#^Parameter \\#3 \\$payableId of class Bavix\\\\Wallet\\\\Internal\\\\Dto\\\\TransactionDto constructor expects int\\|string, mixed given\\.$#"
			count: 1
			path: src/Internal/Assembler/TransactionDtoAssembler.php

		-
			message: "#^Parameter \\#6 \\$fromId of class Bavix\\\\Wallet\\\\Internal\\\\Dto\\\\TransferDto constructor expects int\\|string, mixed given\\.$#"
			count: 1
			path: src/Internal/Assembler/TransferDtoAssembler.php

		-
			message: "#^Parameter \\#8 \\$toId of class Bavix\\\\Wallet\\\\Internal\\\\Dto\\\\TransferDto constructor expects int\\|string, mixed given\\.$#"
			count: 1
			path: src/Internal/Assembler/TransferDtoAssembler.php

		-
			message: "#^Method Bavix\\\\Wallet\\\\Internal\\\\Repository\\\\TransactionRepository\\:\\:findBy\\(\\) should return array\\<Bavix\\\\Wallet\\\\Models\\\\Transaction\\> but returns array\\.$#"
			count: 1
			path: src/Internal/Repository/TransactionRepository.php

		-
			message: "#^Method Bavix\\\\Wallet\\\\Internal\\\\Repository\\\\TransferRepository\\:\\:findBy\\(\\) should return array\\<Bavix\\\\Wallet\\\\Models\\\\Transfer\\> but returns array\\.$#"
			count: 1
			path: src/Internal/Repository/TransferRepository.php

		-
			message: "#^Method Bavix\\\\Wallet\\\\Internal\\\\Repository\\\\WalletRepository\\:\\:findDefaultAll\\(\\) should return array\\<Bavix\\\\Wallet\\\\Models\\\\Wallet\\> but returns array\\.$#"
			count: 1
			path: src/Internal/Repository/WalletRepository.php

		-
			message: "#^Method Bavix\\\\Wallet\\\\Internal\\\\Service\\\\StateService\\:\\:get\\(\\) should return string\\|null but returns mixed\\.$#"
			count: 1
			path: src/Internal/Service/StateService.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\HasMany\\:\\:where\\(\\)\\.$#"
			count: 1
			path: src/Models/Wallet.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphOne\\:\\:where\\(\\)\\.$#"
			count: 2
			path: src/Models/Wallet.php

		-
			message: "#^Cannot cast mixed to string\\.$#"
			count: 1
			path: src/Models/Wallet.php

		-
			message: "#^Call to an undefined method Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphMany\\:\\:with\\(\\)\\.$#"
			count: 1
			path: src/Services/PurchaseService.php

		-
			message: "#^Parameter \\#1 \\$attributes of method Bavix\\\\Wallet\\\\Internal\\\\Repository\\\\WalletRepositoryInterface\\:\\:create\\(\\) expects array\\{holder_type\\: string, holder_id\\: int\\|string, name\\: string, slug\\?\\: string, uuid\\: string, description\\?\\: string, meta\\: array\\|null, balance\\?\\: int, \\.\\.\\.\\}, array\\{uuid\\: string, name\\: string, slug\\?\\: string, description\\?\\: string, meta\\?\\: array\\|null, decimal_places\\?\\: int\\<1, max\\>, holder_type\\: string, holder_id\\: mixed\\} given\\.$#"
			count: 1
			path: src/Services/WalletService.php

		-
			message: "#^Parameter \\#2 \\$holderId of method Bavix\\\\Wallet\\\\Internal\\\\Repository\\\\WalletRepositoryInterface\\:\\:findBySlug\\(\\) expects int\\|string, mixed given\\.$#"
			count: 1
			path: src/Services/WalletService.php

		-
			message: "#^Parameter \\#2 \\$holderId of method Bavix\\\\Wallet\\\\Internal\\\\Repository\\\\WalletRepositoryInterface\\:\\:getBySlug\\(\\) expects int\\|string, mixed given\\.$#"
			count: 1
			path: src/Services/WalletService.php

		-
			message: "#^Cannot call method needs\\(\\) on mixed\\.$#"
			count: 6
			path: src/WalletServiceProvider.php

		-
			message: "#^Parameter \\#1 \\$abstract of method Illuminate\\\\Contracts\\\\Container\\\\Container\\:\\:make\\(\\) expects class\\-string\\<wallet\\.internal\\.storage\\>, string given\\.$#"
			count: 2
			path: src/WalletServiceProvider.php
