includes:
	- phpstan.common.neon
	- phpstan.tests.baseline.neon

parameters:
    level: 9
    ignoreErrors:
        - '#^Offset \d+ does not exist on.+Collection.+int.+$#'
    fileExtensions:
        - php
    ergebnis:
        noParameterWithNullableTypeDeclaration:
            enabled: false
        noNullableReturnTypeDeclaration:
            enabled: false
        noParameterWithNullDefaultValue:
            enabled: false
        final:
            allowAbstractClasses: false
            classesNotRequiredToBeAbstractOrFinal:
                - Bavix\Wallet\Models\Wallet
                - Bavix\Wallet\Models\Transfer
                - Bavix\Wallet\Models\Transaction
        noExtends:
            classesAllowedToBeExtended:
                # laravel
                - Illuminate\Support\ServiceProvider
                - Illuminate\Database\Eloquent\Model
                - Illuminate\Database\Migrations\Migration
                - Illuminate\Database\Eloquent\Factories\Factory

                # php exceptions
                - RuntimeException
                - InvalidArgumentException

                # phpunit
                - Orchestra\Testbench\TestCase
                - Bavix\Wallet\Test\Infra\TestCase

                # wallet
                - Bavix\Wallet\Models\Wallet
                - Bavix\Wallet\Models\Transfer
                - Bavix\Wallet\Models\Transaction

        noParameterWithContainerTypeDeclaration:
            interfacesImplementedByContainers:
                - Psr\Container\ContainerInterface
    paths:
        - tests/