parameters:
    checkMissingIterableValueType: false
    fileExtensions:
        - php
    ergebnis:
        allowAbstractClasses: true
        classesAllowedToBeExtended:
            # laravel
            - Illuminate\Support\ServiceProvider
            - Illuminate\Database\Eloquent\Model

            # php exceptions
            - LogicException
            - RuntimeException
            - UnderflowException
            - UnexpectedValueException
            - InvalidArgumentException

        classesNotRequiredToBeAbstractOrFinal:
            - Bavix\Wallet\Models\Wallet
            - Bavix\Wallet\Models\Transfer
            - Bavix\Wallet\Models\Transaction
        interfacesImplementedByContainers:
            - Psr\Container\ContainerInterface
    paths:
        - src/
        - tests/

parametersSchema:
	ergebnis: structure([
		allowAbstractClasses: bool()
		classesAllowedToBeExtended: listOf(string())
		classesNotRequiredToBeAbstractOrFinal: listOf(string())
		interfacesImplementedByContainers: listOf(string())
	])

rules:
	- Ergebnis\PHPStan\Rules\Closures\NoNullableReturnTypeDeclarationRule
	- Ergebnis\PHPStan\Rules\Closures\NoParameterWithNullableTypeDeclarationRule
	- Ergebnis\PHPStan\Rules\Expressions\NoCompactRule
	- Ergebnis\PHPStan\Rules\Expressions\NoEmptyRule
	- Ergebnis\PHPStan\Rules\Expressions\NoErrorSuppressionRule
	- Ergebnis\PHPStan\Rules\Expressions\NoEvalRule
	- Ergebnis\PHPStan\Rules\Expressions\NoIssetRule
	- Ergebnis\PHPStan\Rules\Files\DeclareStrictTypesRule
	- Ergebnis\PHPStan\Rules\Functions\NoNullableReturnTypeDeclarationRule
	- Ergebnis\PHPStan\Rules\Functions\NoParameterWithNullableTypeDeclarationRule
	- Ergebnis\PHPStan\Rules\Functions\NoParameterWithNullDefaultValueRule
	- Ergebnis\PHPStan\Rules\Methods\FinalInAbstractClassRule
	- Ergebnis\PHPStan\Rules\Methods\NoConstructorParameterWithDefaultValueRule
	- Ergebnis\PHPStan\Rules\Methods\PrivateInFinalClassRule
	- Ergebnis\PHPStan\Rules\Statements\NoSwitchRule

services:
	-
		class: Ergebnis\PHPStan\Rules\Classes\FinalRule
		arguments:
			allowAbstractClasses: %ergebnis.allowAbstractClasses%
			classesNotRequiredToBeAbstractOrFinal: %ergebnis.classesNotRequiredToBeAbstractOrFinal%
		tags:
			- phpstan.rules.rule

	-
		class: Ergebnis\PHPStan\Rules\Classes\NoExtendsRule
		arguments:
			classesAllowedToBeExtended: %ergebnis.classesAllowedToBeExtended%
		tags:
			- phpstan.rules.rule

	-
		class: Ergebnis\PHPStan\Rules\Classes\PHPUnit\Framework\TestCaseWithSuffixRule
		tags:
			- phpstan.rules.rule

	-
		class: Ergebnis\PHPStan\Rules\Methods\NoParameterWithContainerTypeDeclarationRule
		arguments:
			interfacesImplementedByContainers: %ergebnis.interfacesImplementedByContainers%
		tags:
			- phpstan.rules.rule
