parameters:
	ignoreErrors:
		-
			message: "#^Method Bavix\\\\Wallet\\\\Test\\\\Infra\\\\Models\\\\Item\\:\\:boughtGoods\\(\\) should return Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphMany\\<Bavix\\\\Wallet\\\\Models\\\\Transfer\\> but returns Illuminate\\\\Database\\\\Eloquent\\\\Relations\\\\MorphMany\\<Illuminate\\\\Database\\\\Eloquent\\\\Model\\>\\.$#"
			count: 1
			path: tests/Infra/Models/Item.php

		-
			message: "#^Class Bavix\\\\Wallet\\\\Test\\\\Infra\\\\TestCase is not final\\.$#"
			count: 1
			path: tests/Infra/TestCase.php

		-
			message: "#^Method Bavix\\\\Wallet\\\\Test\\\\Infra\\\\TestCase\\:\\:setUp\\(\\) is not final, but since the containing class is abstract, it should be\\.$#"
			count: 1
			path: tests/Infra/TestCase.php

		-
			message: "#^Call to an undefined method Bavix\\\\Wallet\\\\Interfaces\\\\ProductInterface\\:\\:getWallet\\(\\)\\.$#"
			count: 1
			path: tests/Units/Domain/CartReceivingTest.php
