name: build docs

on:
  pull_request:
    branches: [ master ]

jobs:
  build_pages:
    permissions:
      contents: write
    uses: bavix/.github/.github/workflows/compile-assets.yml@0.1.1
    secrets: inherit
